<header class="bg-primary text-white py-3 mb-3">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <h1>Family Hub</h1>
        </div>
      </div>
    </div>
</header>

<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card" style="margin: auto;">
          <div class="card-header">
            <h3 class="text-center">Regisztráció</h3>
          </div>
          <div class="card-body d-flex flex-column justify-content-center">
            <form [formGroup] = "addUserForm"  (ngSubmit) = "addUser()" >
              <div class="form-group mb-3">
                <label for="name" class="form-label">Név</label>
                <input type="text" class="form-control" id="name" name="name" formControlName="name" required>

              </div>
              <div class="form-group mb-3">
                <label for="email" class="form-label">Email cím</label>
                <input type="email" class="form-control" id="email" name="email" formControlName="email" aria-describedby="emailHelp" required>
              </div>
              <div class="form-group mb-3">
                <label for="password" class="form-label">Jelszó</label>
                <input type="password" class="form-control" id="password" name="password" formControlName="password" required>
              </div>
              <div class="form-group mb-3">
                <label for="role" class="form-label">Szerepkör</label>
                <select class="form-select" id="role" name="role" formControlName="role" required>
                  <option value="">Válassz...</option>
                  <option value="parent">Szülő</option>
                  <option value="child">Gyermek</option>
                </select>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary">Regisztráció</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <footer class="bg-primary text-white py-3 position-fixed bottom-0 w-100">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p class="mb-0 text-center">Copyright &copy; 2024 - Family Hub Zrt.</p>
        </div>
      </div>
    </div>
  </footer>
