<app-navbar />

<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card border-0 shadow p-3 mb-5 bg-body rounded">
            <h2 class="card-title text-center mb-3">Felhasználói profil</h2>
            <h3>Adatok</h3>
            <hr class="mt-0 mb-3">
            <div class="card-body container">
                <div class="row" style="align-items:center;">
                  <div class="col-md-4 text-center">
                    <img [src]="this.icon" class="img-fluid" alt="Profilkép" style="max-width:200px; max-height: 300px;">
                </div>
                <div class="col-md-8 ">
                    <ul class="list-unstyled">
                    <li><strong>Név:</strong> {{ user?.name }}</li>
                    <li><strong>E-mail cím:</strong> {{ user?.email }}</li>
                    <li><strong>Szerepkör:</strong> {{ user?.role }}</li>
                    </ul>
                </div>
            </div>
            </div>
            <h3>Profilképek</h3>
            <hr class="mt-0 mb-3">
              <div class="row">
                <div *ngFor="let icon of icons" class="col-md-3 mb-1">
                    <img style="width: 100%; max-height: 300px;" [src]="url+icon" alt="File Image" class="img-thumbnail" />
                    <div class="text-center">
                      <button (click) = "setIcon(icon)" class="btn btn-primary mt-1">Beállít</button>
                    </div>
                </div>
              </div>

            <div class="my-4">
                <h4>Profilkép feltöltése</h4>
                <input type="file" (change)="onFileSelected($event, 'icon')">
                <button (click)="uploadFile(this.selectedIcon, 'icon')" class="btn btn-primary mx-3">Feltöltés</button>
                <button (click) = "this.resetIcon()" class="btn btn-primary">Alaphelyzetbe állítás</button>
            </div>

            <h3>Háttérképek</h3>
            <hr class="mt-0 mb-3">
            <div class="row">
                <div *ngFor="let background of backgrounds" class="col-md-3 mb-1">
                    <img style="width: 100%; max-height: 300px;" [src]="url+background" alt="File Image" class="img-thumbnail" />
                    <div class="text-center">
                      <button (click) = "setBackground(background)" class="btn btn-primary">Beállít</button>    
                    </div>
                </div>
              </div>

            <div class="my-4">
                <h4>Háttérkép feltöltése</h4>
                <input type="file" (change)="onFileSelected($event, 'background')">
                <button (click)="uploadFile(this.selectedBackground, 'background')" class="btn btn-primary mx-3">Feltöltés</button>
                <button (click) = "this.resetBackground()" class="btn btn-primary ml-4">Alaphelyzetbe állítás</button>
            </div>

            <h3>Alkalmazások letöltése</h3>
            <hr class="mt-0 mb-3">
            <div class="row">
                <div *ngFor="let app of apps" class="col-sm-3">
                    <div class="card border-0 p-3 mb-5 bg-transparent">
                      <img src="../../assets/box-fill.svg" class="card-img-top" style="margin: 0 auto; max-width:80px">
                      <div class="card-body p-1">
                        <p class="card-text mt-2 text-center">{{app?.name}}</p>
                        <div class="text-center">
                            <button (click)="downloadApp(app.id)" class="btn btn-primary">Letöltés</button>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
      </div>
    </div>
  </div>
