.nav-link {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .nav-link:hover {
    color: #ddd;
    background-color: transparent;
  }
  

  .navbar-brand {
    font-size: 2rem;
    font-weight: bold;
  }